$primary: rgb(21, 9, 128);

// GENERAL

.strikethrough {
	text-decoration: line-through;
	button {
		text-decoration: none;
		color: black;
	}
}

.red {
	color: red;
}

.green {
	color: green;
}

p {
	line-height: 1.5em;
}

a,
button {
	cursor: pointer;
}

// BUTTON + FORM

button.delete {
	background: none;
	color: red;
	box-shadow: none;
	border: none;
}

#complete,
input[type="checkbox"],
.check {
	width: fit-content;
}

button.text {
	background: none;
	box-shadow: none;
	border: none;
	color: $primary;
}

// LINK

a {
	text-decoration: none;
	color: inherit;

	&:hover {
		text-decoration: underline;
	}
}

.small {
	font-size: 80%;
}

.capital {
	text-transform: uppercase;
}

.gray {
	color: gray;
}

.disabled {
	@extend .small, .capital, .gray;
}

button.filled {
	background-color: green;
	padding: 6px;
	border: none;
	color: white;
	border-radius: 5px;
	font-weight: bold;
	font-size: 1em;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.dense-row {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 1em;
	justify-content: stretch;
	align-items: center;
}

.grow {
	flex: 1;
}

textarea.textarea {
	width: 100%;
	resize: vertical;
	min-height: 10em;
	white-space: pre-wrap;
	font-size: 1.2em;
	font-family: monospace;
	background-color: white;
}

.monospace-field {
	font-family: monospace;
	background-color: white;
	padding: 1em;
}
