#tasks {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.task-card {
	opacity: 0;
	animation: tasks-show 200ms ease-in-out forwards;
}

.task-card:nth-child(5n + 1) {
	animation-delay: 0.2s;
}

@keyframes tasks-show {
	100% {
		opacity: 1;
	}
}
